body{
    background-color: #eee;
}
@media screen and (max-width: 600px) {
    body{
        background-color: #F9C;
    }
}
@media screen and (min-width: 900px){
    body{
        background-color: #f90;
    }
}